layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
    }

    tab name="setup" cwd="." focus=true {
        pane {
            command "./setup-layout.sh"
        }
    }

    tab name="lustre-dev" cwd="." {
    }

    tab name="watch-css" cwd="." {
    }
    
    tab name="claude" cwd="." {
    }

    tab name="root" cwd="." {
    }
}
